.mcb-section .mcb-wrap .mcb-item-xp27f5il .title {
  background-position: center center;
  font-weight: bold;
  font-size: 3.3em;
  line-height: 1.2em;
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-xp27f5il .title,
.mcb-section .mcb-wrap .mcb-item-xp27f5il .title a {
  color: #cb1a1d;
}

.mcb-section .mcb-wrap .mcb-item-snd1h85kp .mcb-column-inner-snd1h85kp {
  height: 30px;
}

.mcb-section .mcb-wrap .mcb-item-hy9hxb447 .column_attr {
  font-size: 1.25em;
}

.mcb-section .mcb-wrap .mcb-item-hy9hxb447 .mcb-column-inner-hy9hxb447 {
  margin-right: 15px;
  margin-top: 15px;
}

.mcb-section .mcb-wrap .mcb-item-2qmk5ykff .button {
  padding-top: 0.8em;
  padding-right: 1.5em;
  padding-bottom: 0.8em;
  padding-left: 1.5em;
  font-size: 1.25em;
  font-weight: normal;
}

.mcb-section .mcb-wrap .mcb-item-2qmk5ykff {
  z-index: 5;
}

.mcb-section .mcb-wrap .mcb-item-2qmk5ykff .button:hover {
  background: #b50609;
}

.mcb-section .mcb-wrap .mcb-item-j84j04nsns8 .mcb-column-inner-j84j04nsns8 {
  height: 30px;
}

.mcb-section .mcb-wrap-1f5st9vp .mcb-wrap-inner-1f5st9vp {
  align-items: center;
  justify-content: center;
  margin-left: -10%;
}

.mcb-section .mcb-wrap-1f5st9vp {
  z-index: 5;
}

.mcb-section .mcb-wrap .mcb-item-40gv9uv7a .title {
  font-family: "Noto Sans TC";
  font-weight: normal;
  line-height: 1.5em;
  color: #cb1a1d;
}

.mcb-section .mcb-wrap .mcb-item-40gv9uv7a .icon-wrapper {
  width: 120px;
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap-skqy93r8b .mcb-wrap-inner-skqy93r8b {
  padding-top: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
  padding-left: 5em;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mcb-section .mcb-wrap .mcb-item-lv131ds3i .title {
  font-family: Noto Sans TC;
  font-weight: normal;
  line-height: 1.5em;
  color: #cb1a1d;
}

.mcb-section .mcb-wrap .mcb-item-lv131ds3i .icon-wrapper {
  width: 120px;
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap-i27alhwzn .mcb-wrap-inner-i27alhwzn {
  padding-top: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
  padding-left: 5em;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mcb-section .mcb-wrap .mcb-item-4lwcmwain .title {
  font-family: Noto Sans TC;
  font-weight: normal;
  line-height: 1.5em;
  color: #cb1a1d;
}

.mcb-section .mcb-wrap .mcb-item-4lwcmwain .icon-wrapper {
  width: 120px;
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap-p475c4cr .mcb-wrap-inner-p475c4cr {
  padding-top: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
  padding-left: 5em;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mcb-section-c7fjj48o {
  background-color: #f5e0e0;
  background-image: url("../../images/frontend/shutterstock_1774300628.jpg");
  background-size: contain;
  background-position: 15%;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-right: 5%;
  padding-left: 5%;
}

@media (max-width: 1440px) {
  .mcb-section .mcb-wrap .mcb-item-xp27f5il .title {
    font-size: 42px;
  }

  .mcb-section .mcb-wrap .mcb-item-snd1h85kp .mcb-column-inner-snd1h85kp {
    height: 20px;
  }

  .mcb-section .mcb-wrap .mcb-item-j84j04nsns8 .mcb-column-inner-j84j04nsns8 {
    height: 40px;
  }

  .mcb-section-1f5st9vp {
    background-position: -30%;
  }

  .mcb-section .mcb-wrap-skqy93r8b .mcb-wrap-inner-skqy93r8b {
    padding-top: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    padding-left: 4em;
  }

  .mcb-section .mcb-wrap-i27alhwzn .mcb-wrap-inner-i27alhwzn {
    padding-top: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    padding-left: 4em;
  }

  .mcb-section .mcb-wrap-p475c4cr .mcb-wrap-inner-p475c4cr {
    padding-top: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    padding-left: 4em;
  }

  .mcb-section-c7fjj48o {
    padding-top: 100px;
  }
}

@media (max-width: 959px) {
  .mcb-section .mcb-wrap .mcb-item-xp27f5il .title {
    font-size: 2.7em;
  }

  .mcb-section .mcb-wrap .mcb-item-j84j04nsns8 .mcb-column-inner-j84j04nsns8 {
    height: 30px;
  }

  .mcb-section .mcb-wrap .mcb-item-40gv9uv7a .icon-wrapper {
    width: 100px;
    margin-bottom: 10px;
  }

  .mcb-section .mcb-wrap-skqy93r8b .mcb-wrap-inner-skqy93r8b {
    padding-top: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    padding-left: 4em;
  }

  .mcb-section .mcb-wrap .mcb-item-lv131ds3i .icon-wrapper {
    width: 100px;
    margin-bottom: 10px;
  }

  .mcb-section .mcb-wrap-i27alhwzn .mcb-wrap-inner-i27alhwzn {
    padding-top: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    padding-left: 4em;
  }

  .mcb-section .mcb-wrap .mcb-item-4lwcmwain .icon-wrapper {
    width: 100px;
    margin-bottom: 10px;
  }

  .mcb-section .mcb-wrap-p475c4cr .mcb-wrap-inner-p475c4cr {
    padding-top: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    padding-left: 4em;
  }

  .mcb-section-c7fjj48o {
    padding-top: 80px;
    background-position: -30%;
  }
}

@media (max-width: 767px) {
  .mcb-section .mcb-wrap .mcb-item-xp27f5il .title {
    font-size: 2.3em;
    text-align: center;
  }

  .mcb-section .mcb-wrap .mcb-item-snd1h85kp .mcb-column-inner-snd1h85kp {
    height: 10px;
  }

  .mcb-section .mcb-wrap .mcb-item-hy9hxb447 .column_attr {
    text-align: center;
  }

  .mcb-section .mcb-wrap .mcb-item-2qmk5ykff .button {
    font-size: 1.2em;
  }

  .mcb-section .mcb-wrap .mcb-item-j84j04nsns8 .mcb-column-inner-j84j04nsns8 {
    height: 50px;
  }

  .mcb-section .mcb-wrap-1f5st9vp .mcb-wrap-inner-1f5st9vp {
    justify-content: center;
    margin-left: 0px;
  }

  .mcb-section .mcb-wrap .mcb-item-40gv9uv7a .title {
    font-size: 1.2em;
  }

  .mcb-section .mcb-wrap .mcb-item-40gv9uv7a .desc-wrapper {
    text-align: left;
  }

  .mcb-section .mcb-wrap .mcb-item-40gv9uv7a .icon-wrapper {
    width: 60px;
  }

  .mcb-section .mcb-wrap-skqy93r8b .mcb-wrap-inner-skqy93r8b {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .mcb-section .mcb-wrap .mcb-item-lv131ds3i .title {
    font-size: 1.2em;
  }

  .mcb-section .mcb-wrap .mcb-item-lv131ds3i .desc-wrapper {
    text-align: left;
  }

  .mcb-section .mcb-wrap .mcb-item-lv131ds3i .icon-wrapper {
    width: 60px;
  }

  .mcb-section .mcb-wrap-i27alhwzn .mcb-wrap-inner-i27alhwzn {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .mcb-section .mcb-wrap .mcb-item-4lwcmwain .title {
    font-size: 1.2em;
  }

  .mcb-section .mcb-wrap .mcb-item-4lwcmwain .desc-wrapper {
    text-align: left;
  }

  .mcb-section .mcb-wrap .mcb-item-4lwcmwain .icon-wrapper {
    width: 60px;
  }

  .mcb-section .mcb-wrap-p475c4cr .mcb-wrap-inner-p475c4cr {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .mcb-section-c7fjj48o {
    padding-top: 30px;
    padding-bottom: 100px;
    margin-bottom: -40px;
    background-position: bottom left;
    height: 850px;
  }

  .mcb-section-c7fjj48o .mcb-section-inner-c7fjj48o {
    align-content: flex-start;
  }
}