.mcb-section-a011abf6b {
  padding-top: 12vh;
  padding-bottom: 5vh;
}
.mcb-section-a011abf6b .mcb-section-inner-a011abf6b {
  align-content: center;
}
.mcb-section .mcb-wrap .mcb-item-17824d052 .title {
  background-position: center center;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 3em;
}
.mcb-section .mcb-wrap .mcb-item-db9812120 .column_attr {
  text-align: center;
}
.mcb-section-6bac2144c {
  margin-bottom: 4em;
  margin-right: 10vw;
  margin-left: 10vw;
}
.mcb-section-6bac2144c.custom-width .mcb-section-inner-6bac2144c {
  max-width: 85vw;
}
.mcb-section .mcb-wrap .mcb-item-736fbd71c .title {
  background-position: center center;
  /*font-weight: normal;*/
}
.mcb-section-94527553a {
  margin-bottom: 4em;
  margin-left: 10vw;
  margin-right: 10vw;
}
.mcb-section-94527553a.custom-width .mcb-section-inner-94527553a {
  max-width: 85vw;
}
.mcb-section .mcb-wrap .mcb-item-0c9800f3d .title {
  background-position: center center;
  /*font-weight: normal;*/
}
.mcb-section .mcb-wrap .mcb-item-361ed5660 .column_attr {
  text-align: center;
}
.mcb-section .mcb-wrap .mcb-item-a4879a7d9 .column_attr {
  text-align: center;
}
.mcb-section .mcb-wrap .mcb-item-26b404796 .column_attr {
  text-align: center;
}
.mcb-section .mcb-wrap .mcb-item-59877f55b .column_attr {
  text-align: center;
}
.mcb-section .mcb-wrap .mcb-item-e26eaae61 .column_attr {
  text-align: center;
}
.mcb-section .mcb-wrap .mcb-item-73f4268f1 .column_attr {
  text-align: center;
}
.mcb-section .mcb-wrap .mcb-item-80426864c .column_attr {
  text-align: center;
}
.mcb-section-ce243562d {
  margin-bottom: 4em;
  margin-left: 10vw;
  margin-right: 10vw;
}
.mcb-section-ce243562d.custom-width .mcb-section-inner-ce243562d {
  max-width: 85vw;
}
.mcb-section .mcb-wrap .mcb-item-ad880e2ad .title {
  background-position: center center;
  /*font-weight: normal;*/
}
.mcb-section-fd8f73b29 {
  margin-bottom: 4em;
  margin-left: 10vw;
  margin-right: 10vw;
}
.mcb-section-fd8f73b29.custom-width .mcb-section-inner-fd8f73b29 {
  max-width: 85vw;
}
.mcb-section .mcb-wrap .mcb-item-8de48e3d5 .title {
  background-position: center center;
  /*font-weight: normal;*/
}
.mcb-section-aaaa9fef7 .mcb-section-inner-aaaa9fef7 {
  justify-content: flex-end;
}
.mcb-section-aaaa9fef7 {
  /*margin-bottom: 5vh;*/
  margin-right: 10vw;
  margin-left: 10vw;
}
.mcb-section-aaaa9fef7.custom-width .mcb-section-inner-aaaa9fef7 {
  max-width: 85vw;
}
.mcb-section .mcb-wrap .mcb-item-a2d53ad45 .button {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
@media (max-width: 959px) {
  .mcb-section-6bac2144c {
    margin-right: 0px;
    margin-left: 0px;
  }
  .mcb-section-94527553a {
    margin-right: 0px;
    margin-left: 0px;
  }
  .mcb-section-ce243562d {
    margin-right: 0px;
    margin-left: 0px;
  }
  .mcb-section-fd8f73b29 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .mcb-section-aaaa9fef7 {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  /*.mcb-section-a011abf6b {
    height: 30vh;
  }*/
  .mcb-section .mcb-wrap-3fb15c747 .mcb-wrap-inner-3fb15c747 {
    align-content: stretch;
  }
  .mcb-section .mcb-wrap .mcb-item-736fbd71c .title {
    text-align: center;
  }
}
